<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    
    <p:dialog widgetVar="pesquisaTurmaModal" modal="true" closable="false" closeOnEscape="true" draggable="false" maximizable="false" resizable="false">
		
		
	</p:dialog>
    
</ui:composition>