<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
xmlns="http://www.w3.org/1999/xhtml"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:composite="http://java.sun.com/jsf/composite"
xmlns:p="http://primefaces.org/ui">

	<h:head>	
		<h:outputStylesheet library="css" name="pack.css"/>
		<script>
			function tamanhoMaximo(){
				document.getElementsByTagName('html')[0].style.height = "100%";
				document.getElementsByTagName('html')[0].style.width = "100%";
				document.getElementsByTagName('html')[0].style.display = "table";
				document.getElementsByTagName('html')[0].style.position = "static";
			}
		</script>
	</h:head>
	
	<h:body styleClass="bodyLogin" onload="tamanhoMaximo()">	
		<h:form>
		<p:messages autoUpdate="true" closable="true" showDetail="true" showSummary="true"/>
		
		<h:panelGrid columns="1" style="margin: 0 auto;">
			<h:panelGrid columns="1" style="margin-left: 50px;">
				<h1>MOBICLASS</h1>
			</h:panelGrid>
			<h:panelGrid columns="2">
				<p:outputLabel value="RA:"/>
				<p:inputText value="#{loginView.usuario}"/>
				
				<p:outputLabel value="Senha:"/>
				<p:password value="#{loginView.senha}"/>
				
			</h:panelGrid>
			<h:panelGrid columns="1" width="100%" style="text-align:center">
				<p:commandButton value="Logar" action="#{loginView.logar()}"/>
				<p:commandLink value="Esqueceu sua senha?"/>
			</h:panelGrid>
		</h:panelGrid>
		</h:form>
	</h:body>

</html>