<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui">

<h:head>

</h:head>

<h:body>

	<h:form>
		<p:messages autoUpdate="true" closable="true" showDetail="true" showSummary="true"/>
		<p:inputText type="number" value="#{testeView.valor}"/>
		<p:commandButton update="@form" value="testar"/>
		<h:outputText value="#{testeView.valor}" />
		

	</h:form>

</h:body>

</html>