<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:composite="http://java.sun.com/jsf/composite"
xmlns:p="http://primefaces.org/ui">

	<h:head>
		<h:outputScript library="js" name="pack.js"/>
		<h:outputStylesheet library="css" name="pack.css"/>
	</h:head>
	
	<h:body>	
		
		<h:form styleClass="formTemplate" enctype="multipart/form-data">
	   		<p:menubar>
				<p:menuitem value="Index" outcome="/paginas/index.xhtml" styleClass="menuBarItem"/>
				<p:menuitem value="Alunos" outcome="/paginas/gestao-aluno.xhtml"  styleClass="menuBarItem"/>
				<p:submenu label="Atividade" styleClass="menuBarItem">
					<p:menuitem value="Atividade" outcome="/paginas/gestao-atividade.xhtml"/>
					<p:menuitem value="Atividade para Turmas" outcome="/paginas/gestao-atividade-disponivel.xhtml"/>					
				</p:submenu>
				<p:menuitem value="Cursos" outcome="/paginas/gestao-curso.xhtml"  styleClass="menuBarItem"/>
				<p:menuitem value="Disciplinas" outcome="/paginas/gestao-disciplina.xhtml"  styleClass="menuBarItem"/>
				<p:menuitem value="Turmas" outcome="/paginas/gestao-turma.xhtml"  styleClass="menuBarItem"/>
				<p:menuitem value="Importar" outcome="/paginas/importar-dados.xhtml"  styleClass="menuBarItem"/>		
				<p:menuitem value="Logout #{sessao.primeiroNomeUsuario()}" actionListener="#{loginView.logout()}"  styleClass="menuBarItemLogout"/>
			</p:menubar>
			<p:messages autoUpdate="true" closable="true" showDetail="true" showSummary="true"/>			
			<div id="conteudoHolder" style="margin-top:50px; border: 1px solid rgb(215,215,215)">
				<ui:insert name="conteudo">
				</ui:insert>
			</div>
			   		
   		</h:form>
		
	</h:body>

</html>