@CHARSET "ISO-8859-1";

.btnVoltar{
	font-size: small;
  	font-family: monospace;
  	font-variant: small-caps;
}

.apenasAno{
}

.formTemplate{
	margin-left: 15%;
	margin-right: 15%;
}

.menuBarItem{
	margin-left: 12px;
	margin-right: 12px;
}

.menuBarItemLogout{
	margin-left: 15px;
	margin-right: 15px;
	
}
.menuBarItemLogout:HOVER{
	font-style:italic;
	text-decoration:underline;
	color: blue;
}


.bodyLogin{
	background-image: linear-gradient(45deg, white, black);
	vertical-align: middle;
	display: table-cell;
	position: static;
}

.facetHeaderItem{
	margin-left:50px;
}

.icon-home1{
	background-image: url('/MOBICLASS/resources/svg/home.svg') !important;
	background-position: center !important;
	background-size: contain;
}

.loadingModal{
box-shadow: none !important;
-webkit-box-shadow: none !important;
-moz-box-shadow: none !important;
}

.ui-widget-overlay{
	opacity:.1;
}

.noneClass{
}