<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

	<ui:composition template="/WEB-INF/template.xhtml">
		<ui:define name="conteudo">
			   <p:fieldset legend="Atividade" toggleable="true">
					   <h:panelGrid style="margin: 0 auto;">
						   <h:panelGrid columns="4" id="inputs" cellspacing="5">
						   
						   	<h:outputText value="*Código da atividade:"/>
						   	<p:inputText value="#{cadastroAtividadeView.codAtividade}" disabled="#{cadastroAtividadeView.modoEditar}"/>
			
						   	<h:outputText value="*Nome da atividade:"/>
						   	<p:inputText value="#{cadastroAtividadeView.nome}"/>
			
						   	<h:outputText value="*Código da discíplina:"/>
						   	<p:selectOneMenu value="#{cadastroAtividadeView.codDisciplina}" disabled="#{cadastroAtividadeView.modoEditar}">
						   		<f:selectItems value="#{cadastroAtividadeView.disciplinas}" var="disciplinas" itemLabel="#{disciplinas.nome}" itemValue="#{disciplinas.codigoDisciplina}"/>
						   	</p:selectOneMenu>
						   	
						   	<h:outputText value="*Area da atividade:"/>
						   <h:panelGrid id="campoArea" style="text-align: center; width:100%; padding:0; margin:0;">
						   		<p:row>
						   			<table style="width:100%;padding:0; margin:0;">
						   		<tr>
						   			<td width="100%">
						   				<p:selectOneMenu value="#{cadastroAtividadeView.codArea}" disabled="#{cadastroAtividadeView.modoEditar}" style="width:100%">
									   		<f:selectItems value="#{cadastroAtividadeView.areasAtividades}" var="areas" itemLabel="#{areas.areaAtividade}" itemValue="#{areas.id}"/>
									   	</p:selectOneMenu>
						   			</td>
						   			<td>
						   			<p:commandButton icon="ui-icon-plusthick" style="height: 29px; margin-top:-4px;" 
						   			onclick="PF('modalAreaAtividade').show();"/>
						   			</td>
						   		</tr>
						   	</table>
								</p:row>
						    </h:panelGrid>							
							
							
						   	<h:outputText value="*Disponivel:"/>
						   	<p:selectOneMenu value="#{cadastroAtividadeView.disponivel}">
						   		<f:selectItem itemLabel="Sim" itemValue="1"/>
						   		<f:selectItem itemLabel="Não" itemValue="0"/>
						   	</p:selectOneMenu>
						   	
						   	<h:outputText value="*Tipo de Atividade:" rendered="#{!cadastroAtividadeView.modoEditar}"/>
						   	<p:selectOneMenu value="#{cadastroAtividadeView.tipo}" rendered="#{!cadastroAtividadeView.modoEditar}">
						   		<f:selectItem itemLabel="QUIZ" itemValue="#{1}"/>
						   		<f:selectItem itemLabel="Jogo da Forca" itemValue="#{2}"/>
						   	</p:selectOneMenu>
						   	
						   </h:panelGrid>
						   <h:panelGrid style="text-align: center; width:100%;">
						   		<p:row>
							   		<p:commandButton value="Cadastrar" actionListener="#{cadastroAtividadeView.cadastrarAtividade()}" update="@form" rendered="#{!cadastroAtividadeView.modoEditar}"/>
								   	<p:commandButton value="Modificar" actionListener="#{cadastroAtividadeView.modificarAtividade()}" update="@form" rendered="#{cadastroAtividadeView.modoEditar}"/>
						   			<p:commandButton value="Limpar">
						   				<p:ajax resetValues="true" update="inputs"/>
						   			</p:commandButton>
								</p:row>
						    </h:panelGrid>
						   
						  </h:panelGrid>
			   </p:fieldset>
			   <p:commandButton value="Voltar" action="#{cadastroAtividadeView.voltar()}" icon="ui-icon-arrow-1-w" styleClass="btnVoltar" immediate="true"/>
			   <p:dialog modal="true" width="350" height="100" widgetVar="modalAreaAtividade" id="modalAreaAtividade"
			   closable="true" resizable="false">
					<p:panelGrid columns="2">
						<p:column>
							<h:outputText value="Nome:" />
						</p:column>
						<p:column>
							<h:inputText value="#{cadastroAtividadeView.nomeAreaAtividade}" id="txtNomeArea"/>
						</p:column>
						<p:column>
							<p:commandButton icon="ui-icon-check" actionListener="#{cadastroAtividadeView.cadastrarAreaAtividade()}" update="@form:campoArea, txtNomeArea" oncomplete="PF('modalAreaAtividade').hide();"/>
						</p:column>
					</p:panelGrid>
			   </p:dialog>
		</ui:define>
	</ui:composition>
</html>