<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

	<ui:composition template="/WEB-INF/template.xhtml">
		<ui:define name="conteudo">
			   <f:event listener="#{cadastroAtividadeDisponivelView.init()}" type="preRenderView"></f:event>
			   <p:fieldset legend="Atividade" toggleable="true">
			   
				   <h:panelGrid style="margin: 0 auto;">
				   <h:panelGrid columns="4" id="filtrosAtividade" cellspacing="5">
				    	
				    	<p:outputLabel value="Código da Atividade:"/>
				    	<p:inputText value="#{cadastroAtividadeDisponivelView.codAtividade}"/>
				    	
				    	<p:outputLabel value="Disciplina:"/>
				    	<p:selectOneMenu value="#{cadastroAtividadeDisponivelView.codDisciplina}">
				    		<f:selectItem itemLabel="Selecione" itemValue=""/>
				    		<f:selectItems value="#{cadastroAtividadeDisponivelView.todasAsDisciplinas}" var="d" itemLabel="#{d.nome}" itemValue="#{d.codigoDisciplina}"/>
				    	</p:selectOneMenu>
				    	
				   		<p:outputLabel value="Area de Atividade:"/>
				   		<p:selectOneMenu value="#{cadastroAtividadeDisponivelView.areaAtividade}">
				    		<f:selectItem itemLabel="Selecione" itemValue="#{0}"/>
				    		<f:selectItems value="#{cadastroAtividadeDisponivelView.todasAsAreasDeAtividades}" var="areaAt" itemLabel="#{areaAt.areaAtividade}" itemValue="#{areaAt.id}"/>
				    	</p:selectOneMenu>
				   		
				   		<p:outputLabel value="Nome da Atividade:"/>
				   		<p:inputText value="#{cadastroAtividadeDisponivelView.nomeAtividade}"/>
				   		
				   </h:panelGrid>
				   
				   	<h:panelGrid style="text-align: center; width:100%;">
				   		<p:row>
					   		<p:commandButton value="Pesquisar" actionListener="#{cadastroAtividadeDisponivelView.pesquisarAtividade()}" update="gridAtividades"/>
				   			<p:commandButton value="Limpar">
				   				<p:ajax resetValues="true" update="filtrosAtividade"/>
				   			</p:commandButton>
				    	</p:row>
				    </h:panelGrid>
				    </h:panelGrid>			   

			   </p:fieldset>
			   
			   <p:panel id="gridAtividades" style="border:none;overflow-x:auto;">
			   		<p:dataTable value="#{cadastroAtividadeDisponivelView.atividades}" var="atividade" selectionMode="multiple" selection="#{cadastroAtividadeDisponivelView.atividadesSelecionadas}"
			   		rowKey="#{atividade.idAtividade}" emptyMessage="Nenhuma atividade" rows="10" paginator="true" paginatorPosition="bottom">
			   			<p:ajax event="rowSelect" update="@form:filtros, @form:btnCadastrar" listener="#{cadastroAtividadeDisponivelView.atualizarSelectTurmasEanos()}"/>
			   			<p:ajax event="rowUnselect" update="@form:filtros, @form:btnCadastrar" listener="#{cadastroAtividadeDisponivelView.atualizarSelectTurmasEanos()}"/>
			   			
			   			<p:column headerText="Código da Atividade" style="text-align:center; width:180px;">
			   				<h:outputText value="#{atividade.idAtividade.codigoAtividade}" />
			   			</p:column>
			   			
			   			<p:column headerText="Nome da Atividade" style="text-align:center; width:220px;">
			   				<h:outputText value="#{atividade.nome}" />
			   			</p:column>
			   			
			   			<p:column headerText="Qt. de At. Disp." style="text-align:center; width:220px;">
			   				<h:outputText value="#{atividade.quantidadeAtividadesDisponiveis}" />
			   			</p:column>
			   			
			   			<p:column headerText="Disciplina" style="text-align:center; width:100px; ">
			   				<h:outputText value="#{atividade.idAtividade.codigoDisciplina}" />
			   			</p:column>
			   			
			   			<p:column headerText="Area Atividade" style="text-align:center; width:120px;">
			   				<h:outputText value="#{cadastroAtividadeDisponivelView.nomeAreaAtividade(atividade.idAtividade.areaAtividade)}" />
			   			</p:column>
			   			
			   			<p:column headerText="Disponivel" style="text-align:center" width="100px;">
			   				<h:outputText value="#{cadastroAtividadeDisponivelView.intDisponivelToString(atividade)}" />
			   			</p:column>
			   		</p:dataTable>
			   	</p:panel>
			   	
			   	<p:fieldset legend="Cadastro Atividade Disponivel" toggleable="true">
			   
				   <h:panelGrid style="margin: 0 auto;">
				   <h:panelGrid columns="6" id="filtros" cellspacing="5">
				    	
						<p:outputLabel value="Turma:"/>
				   		<p:selectOneMenu value="#{cadastroAtividadeDisponivelView.codTurma}">
				    		<f:selectItems value="#{cadastroAtividadeDisponivelView.turmas}" var="turma" itemLabel="#{turma.id.codigoTurma}" itemValue="#{turma.id.codigoTurma}"/>
				    		<p:ajax event="change" update="slcOneAno" listener="#{cadastroAtividadeDisponivelView.atualizarSelectOneAnosTurmas()}"/>
				    	</p:selectOneMenu>
	
				   		<p:outputLabel value="Ano da Turma:"/>
				   		<p:selectOneMenu id="slcOneAno" value="#{cadastroAtividadeDisponivelView.anoTurma}">
				    		<f:selectItems value="#{cadastroAtividadeDisponivelView.anosTurmas}"/>
				    	</p:selectOneMenu>
				    	
				    	<p:outputLabel value="Valor da Atividade:"/>
				    	<p:inputText value="#{cadastroAtividadeDisponivelView.valorAtividade}" onkeydown="return apenasNumerosDecimais(event);"/>
				    	
				    	<p:outputLabel value="Data de Abertura:"/>
				   		<p:calendar value="#{cadastroAtividadeDisponivelView.dataLiberacao}"  pattern="dd/MM/yyyy HH:mm" mask="99/99/9999 99:99" navigator="true"/>
				   		
				   		<p:outputLabel value="Data de Encerramento:"/>
				   		<p:calendar value="#{cadastroAtividadeDisponivelView.dataEncerramento}" pattern="dd/MM/yyyy HH:mm" mask="99/99/9999 99:99" navigator="true"/>
				   		
				   </h:panelGrid>
				   
				   	<h:panelGrid style="text-align: center; width:100%;">
				   		<p:row>
					   		<p:commandButton id="btnCadastrar" value="Cadastrar" actionListener="#{cadastroAtividadeDisponivelView.cadastrarAtividadeDisponivel()}" 
					   		disabled="#{!cadastroAtividadeDisponivelView.cadastrarAtividadeDisponivellHabilitado()}"/>
				   			<p:commandButton value="Limpar">
				   				<p:ajax resetValues="true" update="filtros"/>
				   			</p:commandButton>
				    	</p:row>
				    </h:panelGrid>
				    </h:panelGrid>			   

			   </p:fieldset>
			   <p:commandButton value="Voltar" action="#{cadastroAtividadeView.voltar()}" icon="ui-icon-arrow-1-w" styleClass="btnVoltar" immediate="true"/>
		</ui:define>
	</ui:composition>
</html>