<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

	<ui:composition template="/WEB-INF/template.xhtml">
		<ui:define name="conteudo">
			   <h:panelGrid style="margin:0 auto;">
			   <h:panelGrid columns="4" id="inputs">
			   	<p:outputLabel value="*Nome:"/>
			   	<p:inputText value="#{cadastroPessoaView.nome}" title="Nome do Aluno"/>
			   	<p:outputLabel value="*Senha:"/>
			   	<p:password value="#{cadastroPessoaView.senha}"/>
			   	<p:outputLabel value="email:"/>
			   	<p:inputText value="#{cadastroPessoaView.email}"/>
			   	<p:outputLabel value="*Data de Nascimento:"/>
			   	<p:calendar value="#{cadastroPessoaView.dataNascimento}" pattern="dd/MM/yyyy" mask="99/99/9999" navigator="true" />
			   	<p:outputLabel value="Sexo:"/>
			   	<p:selectOneMenu value="#{cadastroPessoaView.sexo}">
			   		<f:selectItem itemLabel="Masculino" itemValue="#{'M'}"/>
			   		<f:selectItem itemLabel="Feminino" itemValue="#{'F'}"/>
			   	</p:selectOneMenu>
			   	<p:outputLabel value="Tipo de usuário:"/>
			   	<p:selectOneMenu value="#{cadastroPessoaView.tipoPessoa}" disabled="#{cadastroPessoaView.atualizando}">
			   		<f:selectItem itemLabel="Aluno" itemValue="#{1}"/>
			   		<f:selectItem itemLabel="Professor" itemValue="#{2}"/>
			   	</p:selectOneMenu>
			   </h:panelGrid>
			   <h:panelGrid style="text-align: center; width:100%;">
				   <p:row>
					   <p:commandButton value="Cadastrar" actionListener="#{cadastroPessoaView.cadastrar()}" rendered="#{!cadastroPessoaView.atualizando}" update="inputs"/>
					   <p:commandButton value="Atualizar" actionListener="#{cadastroPessoaView.atualizar()}" rendered="#{cadastroPessoaView.atualizando}"/>
					   <p:commandButton value="Limpar" actionListener="#{cadastroPessoaView.limpar()}" update="inputs" immediate="true" process="@this"/>
				   </p:row>
			   </h:panelGrid>
			   </h:panelGrid>
			   <p:commandButton value="Voltar" action="#{cadastroPessoaView.voltar()}" icon="ui-icon-arrow-1-w" styleClass="btnVoltar" immediate="true"/>
		</ui:define>
	</ui:composition>
</html>