<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
	<ui:composition template="/WEB-INF/template.xhtml">
		<ui:define name="conteudo">
		<h:panelGrid columns="3" id="infos">
			<f:facet name="header">
				<p:outputLabel value="Código: #{cadastroQuizView.atividade.idAtividade.codigoAtividade}" />
				<p:outputLabel value="Nome: #{cadastroQuizView.atividade.nome}" styleClass="facetHeaderItem"/>
				<p:outputLabel value="Disciplina: #{cadastroQuizView.atividade.idAtividade.codigoDisciplina}" styleClass="facetHeaderItem" />
				<p:outputLabel value="Area de Atividade: #{cadastroQuizView.atividade.idAtividade.areaAtividade}" styleClass="facetHeaderItem"/>
				<p:outputLabel value="Disponivel: #{cadastroQuizView.atividade.isDisponivel() == 1? 'Sim' : 'Não'}" styleClass="facetHeaderItem"/>
			</f:facet>
		</h:panelGrid>
		<h:panelGrid>
					   
			   <p:dataTable id="gridQuestoes" value="#{cadastroQuizView.questoes}" rows="5" var="q" selectionMode="single" selection="#{cadastroQuizView.questaoSelecionada}" rowKey="#{q.codPergunta}"
			   	emptyMessage="Sem Questões">
			   		<p:ajax event="rowSelect" update="@form:gridAlternativas, gridQuestoes"/>
			   		<p:ajax event="rowUnselect" update="@form:gridAlternativas, gridQuestoes"/>
			   		<p:column headerText="Disponivel" width="15%">
			   			<h:outputText value="#{q.isDisponivel == 1 ? 'Sim' : 'Não'}" />
			   		</p:column>
			   		<p:column headerText="Pergunta" width="85%">
			   			<h:outputText value="#{q.nomeQuestao}" />
			   		</p:column>
			   		
			   		<f:facet name="footer">
			   			<p:commandButton value="Adicionar" onclick="PF('modalQuestaoVar').show();"/>
			   			<p:commandButton value="Modificar" disabled="#{!cadastroQuizView.questaoEstaSelecionada()}"/>
			   			<p:commandButton value="Deletar" disabled="#{!cadastroQuizView.questaoEstaSelecionada()}"/>
			   		</f:facet>
			   </p:dataTable>
	    </h:panelGrid>
			   
	   <h:panelGrid>
			   <p:dataTable id="gridAlternativas" value="#{cadastroQuizView.alternativasDaQuestaoSelecionada()}" var="alternativa" selectionMode="single" rowKey="#{alternativa.ID}" selection="#{cadastroQuizView.alternativaSelecionada}"
			   emptyMessage="Sem Alternativas">
			   		<p:ajax event="rowSelect" update="gridAlternativas"/>
			   		<p:ajax event="rowUnselect" update="gridAlternativas"/>
			   		<p:column headerText="Correta" width="15%">
			   			<h:outputText value="#{alternativa.isCorreta == 1 ? 'Sim': 'Não'}" />
			   		</p:column>
			   		
			   		<p:column headerText="Alternativa" width="85%">
			   			<h:outputText value="#{alternativa.nomeAlternativa}" />
			   		</p:column>
			   		
			   		<f:facet name="footer">
			   			<p:commandButton value="Adicionar" onclick="PF('modalAlternativaVar').show();" disabled="#{!cadastroQuizView.questaoEstaSelecionada()}" />
			   			<p:commandButton value="Modificar" disabled="#{cadastroQuizView.desabilitarBotaoModificar()}" />
			   			<p:commandButton value="Deletar" disabled="#{cadastroQuizView.desabilitarBotaoDeletar()}" />
			   		</f:facet>
			   		
			   </p:dataTable>
			   <p:commandButton value="Voltar" action="#{cadastroQuizView.voltar()}" icon="ui-icon-arrow-1-w" styleClass="btnVoltar" immediate="true"/>
	   </h:panelGrid>
			   
	   <p:dialog closable="false" draggable="false" closeOnEscape="true" header="Criar Questão" 
	   id="modalQuestao" modal="true" resizable="false" widgetVar="modalQuestaoVar" width="800px">
	   		<h:panelGrid columns="2" id="inputsModalQuestao">
			   
			   	<h:outputText value="*Pergunta:"/>
			   	<p:inputText value="#{cadastroQuizView.pergunta}" style="width:600px;"/>

			   	<h:outputText value="*Valor da Pergunta:"/>
			   	<p:inputText id="valor" value="#{cadastroQuizView.valorPergunta}" onkeydown="return apenasNumerosDecimais(event)"/>
			   	
			   	<h:outputText value="*Disponível:"/>
			   	<p:selectOneRadio value="#{cadastroQuizView.disponivel}">
			   		<f:selectItem itemValue="#{true}" itemLabel="Sim"/>
			   		<f:selectItem itemValue="#{false}" itemLabel="Não"/>
			   	</p:selectOneRadio>
			   	
			   	<p:commandButton value="Criar" actionListener="#{cadastroQuizView.criarQuestao()}" update="gridQuestoes,gridAlternativas,modalQuestao" oncomplete="PF('modalQuestaoVar').hide();"/>
	   			<p:commandButton value="Cancelar" onclick="PF('modalQuestaoVar').hide();" update="modalQuestao" actionListener="#{cadastroQuizView.limparCamposModalQuestao()}"/>
			   	
			   </h:panelGrid>
	   </p:dialog>
	   
	   <p:dialog closable="false" draggable="false" closeOnEscape="true" header="Criar Alternativa" 
	   id="modalAlternativa" modal="true" resizable="false" widgetVar="modalAlternativaVar">
	   		<h:panelGrid columns="2" id="inputsModalAlternativa">
			   
			   	<h:outputText value="*Alternativa:"/>
			   	<p:inputText value="#{cadastroQuizView.conteudoAlternativa}"/>
			   	
			   	<h:outputText value="*Correta:"/>
			   	<p:selectOneRadio value="#{cadastroQuizView.alternativaCorreta}">
			   		<f:selectItem itemValue="#{true}" itemLabel="Sim"/>
			   		<f:selectItem itemValue="#{false}" itemLabel="Não"/>
			   	</p:selectOneRadio>
			   	
			   	<p:commandButton value="Criar" actionListener="#{cadastroQuizView.criarAlternativa()}" update="gridAlternativas,modalAlternativa" oncomplete="PF('modalAlternativaVar').hide();"/>
	   			<p:commandButton value="Cancelar" onclick="PF('modalAlternativaVar').hide();" update="modalAlternativa" actionListener="#{cadastroQuizView.limparCamposModalAlternativa()}"/>
			   	
			   </h:panelGrid>
	   </p:dialog>
		
		</ui:define>
	</ui:composition>
</html>
