<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

	<ui:composition template="/WEB-INF/template.xhtml">
		<ui:define name="conteudo">
			   <h:panelGrid columns="2" id="inputs">
			   
			   	<p:outputLabel value="*Nome da Area:"/>
			   	<p:inputText value="#{cadastroAreaAtividadeView.nome}"/>
			   	
			   	<p:commandButton value="Cadastrar" actionListener="#{cadastroAreaAtividadeView.cadastrar()}"/>
			   	<p:commandButton value="Limpar" actionListener="#{cadastroAreaAtividadeView.limpar()}" update="inputs" immediate="true" process="@this"/>
			   </h:panelGrid>
			   
			   
		</ui:define>
	</ui:composition>
</html>