<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

	<ui:composition template="/WEB-INF/template.xhtml">
		<ui:define name="conteudo">
			   <h:panelGrid style="width:100%;">
			   <h:panelGrid columns="4" id="inputs"> 	
			   	<p:outputLabel value="*Codigo do Curso:"/>
			   	<p:inputText value="#{cadastroCursoView.cod}" readonly="#{cadastroCursoView.atualizando}"/>
			   	<p:outputLabel value="*Nome do Curso:"/>
			   	<p:inputText value="#{cadastroCursoView.nome}"/>
			   	<p:outputLabel value="Disponível:"/>
			   	<p:selectOneRadio value="#{cadastroCursoView.disponivel}">
			   		<f:selectItem itemLabel="Sim" itemValue="#{true}"/>
			   		<f:selectItem itemLabel="Não" itemValue="#{false}"/>
			   	</p:selectOneRadio>
			   </h:panelGrid>
			   <h:panelGrid style="text-align: center; width:100%;">
			   	<p:row>
				   	<p:commandButton value="Cadastrar" actionListener="#{cadastroCursoView.cadastrar()}" rendered="#{!cadastroCursoView.atualizando}"/>
				   	<p:commandButton value="Atualizar" actionListener="#{cadastroCursoView.atualizar()}" rendered="#{cadastroCursoView.atualizando}"/>
				   	<p:commandButton value="Limpar" actionListener="#{cadastroCursoView.limpar()}" update="inputs" immediate="true" process="@this"/>
			   	</p:row>
			   </h:panelGrid>
			   </h:panelGrid>
			   <p:commandButton value="Voltar" action="#{cadastroCursoView.voltar()}" icon="ui-icon-arrow-1-w" styleClass="btnVoltar" immediate="true"/>
		</ui:define>
	</ui:composition>
</html>