<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
<ui:composition template="/WEB-INF/template.xhtml">
	<ui:define name="conteudo">
	<f:event listener="#{cadastroJogoForcaView.init()}" type="preRenderView"></f:event>
		<h:panelGrid columns="3" id="infos">
			<f:facet name="header">
				<p:outputLabel value="Código: #{cadastroJogoForcaView.atividade.idAtividade.codigoAtividade}" />
				<p:outputLabel value="Nome: #{cadastroJogoForcaView.atividade.nome}" styleClass="facetHeaderItem"/>
				<p:outputLabel value="Disciplina: #{cadastroJogoForcaView.atividade.idAtividade.codigoDisciplina}" styleClass="facetHeaderItem" />
				<p:outputLabel value="Area de Atividade: #{cadastroJogoForcaView.atividade.idAtividade.areaAtividade}" styleClass="facetHeaderItem"/>
				<p:outputLabel value="Disponivel: #{cadastroJogoForcaView.atividade.isDisponivel() == 1? 'Sim' : 'Não'}" styleClass="facetHeaderItem"/>
			</f:facet>
		</h:panelGrid>
	
	<p:fieldset>

	<h:panelGrid style="margin: 0 auto;">
		<h:panelGrid columns="6" id="inputs" cellspacing="5">
			
			<h:outputText value="*Resposta:"/>
			<p:inputText value="#{cadastroJogoForcaView.palavra}"/>
			
			<h:outputText value="*Dica:"/>
			<p:inputText value="#{cadastroJogoForcaView.dica}"/>
			
			<h:outputText value="*Numero de Tentativas:"/>
			<p:inputText value="#{cadastroJogoForcaView.numTentativas}" onkeydown="return apenasNumero(event)"/>
			
			<h:outputText value="*Disponivel:"/>
			<p:selectOneRadio value="#{cadastroJogoForcaView.disponivel}">
				<f:selectItem itemLabel="Sim" itemValue="#{1}"/>
				<f:selectItem itemLabel="Não" itemValue="#{0}"/>
			</p:selectOneRadio>
		</h:panelGrid>
		<h:panelGrid style="width:100%;">
			<p:row>
				<h:outputText value="*Pergunta:"/>
				<p:inputTextarea value="#{cadastroJogoForcaView.perguntaForca}" style="width:100%" rows="5"/>
			</p:row>
		</h:panelGrid>
		<h:panelGrid style="text-align: center; width:100%;">
			<p:row>
				<p:commandButton value="Cadastrar" actionListener="#{cadastroJogoForcaView.cadastrarJogoForca()}"/>
			</p:row>
		</h:panelGrid>
		
	</h:panelGrid>
		
	</p:fieldset>
	
	<p:dialog id="confirmarNovoJogo" widgetVar="confirmarNovoJogoVar" modal="true" closable="false" closeOnEscape="false" draggable="false" maximizable="false">
		<p:outputLabel value="Deseja criar outro jogo na mesma atividade?"/>
		<p:commandButton value="Sim" onclick="PF('confirmarNovoJogoVar').hide();" actionListener="#{cadastroJogoForcaView.limparCampos()}" update="@form"/>
		<p:commandButton value="Não" actionListener="#{cadastroJogoForcaView.redirecionarGestaoAtividade()}" onclick="PF('confirmarNovoJogoVar').hide();"/>
	</p:dialog> 

      
	</ui:define>
</ui:composition>
</html>