<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

	<ui:composition template="/WEB-INF/template.xhtml">
		<ui:define name="conteudo">
			   <f:event listener="#{detalharTurmaView.init()}" type="preRenderView"/>
			   <h:panelGrid columns="4" id="infos">
			    	<f:facet name="header">
						<p:outputLabel value="Código: #{detalharTurmaView.turmaDetalhada.id.codigoTurma}"/>
						<p:outputLabel value="Ano: #{detalharTurmaView.turmaDetalhada.id.anoTurma}" style="margin-left:50px;"/>
						<p:outputLabel value="Nome: #{detalharTurmaView.turmaDetalhada.nomeTurma}" style="margin-left:50px;"/>
						<p:outputLabel value="Curso: #{detalharTurmaView.turmaDetalhada.codCurso}" style="margin-left:50px;"/>
			    	</f:facet>
			   </h:panelGrid>
			   <!-- DETALHAMENTO DAS DISCIPLINAS-->
			   <p:tabView id="tabView">
			   		<p:tab title="Disciplinas" id="subTabDisciplinas">
						   <h:panelGrid columns="4" id="filtrosDisciplina" cellpadding="5">
						    	<p:outputLabel value="Código da Disciplina:"/>
						    	<p:inputText value="#{detalharTurmaView.codDisciplina}"/>
						    	
						    	<p:outputLabel value="Nome da Disciplina:" />
						    	<p:inputText value="#{detalharTurmaView.nomeDisciplina}" /> 	
						   </h:panelGrid>
						   	<h:panelGrid width="100%" style="text-align: center;">
							   		<p:row>
								   		<p:commandButton value="Pesquisar" actionListener="#{detalharTurmaView.pesquisarDisciplina()}" update="gridDisciplinas"/>
								    	<p:commandButton value="Limpar" actionListener="#{detalharTurmaView.limparDisciplina()}" update="filtrosDisciplina"/>
							    	</p:row>
						    </h:panelGrid>
						   
						   <br/><br/>
						   
						   <h:panelGrid id="gridDisciplinas">
						   		<p:dataTable value="#{detalharTurmaView.disciplinas}" var="disc" selectionMode="multiple" selection="#{detalharTurmaView.disciplinasSelecionadas}"
						   		rowKey="#{disc.codigoDisciplina}" emptyMessage="Nenhuma Disciplina" rows="10" paginator="true" paginatorPosition="bottom">
						   			<p:ajax event="rowSelect" update="@form:tabView:gridDisciplinas"/>
						   			<p:ajax event="rowUnselect" update="@form:tabView:gridDisciplinas"/>
						   			
						   			<p:column headerText="Código" style="text-align:center">
						   				<h:outputText value="#{disc.codigoDisciplina}" />
						   			</p:column>
						   			
						   			<p:column headerText="Nome" style="text-align:center">
						   				<h:outputText value="#{disc.nome}" />
						   			</p:column>
						   			
						   			<f:facet name="footer">
						   				<p:commandButton value="Adicionar" actionListener="#{detalharTurmaView.vincularDisciplina()}"/>
						   				<p:commandButton value="Deletar" actionListener="#{detalharTurmaView.desvincularDisciplina()}" disabled="#{detalharTurmaView.nenhumaDisciplinaSelecionada()}" update="@form:tabView:gridDisciplinas"/>
						   				<p:commandButton value="Detalhar" actionListener="#{detalharTurmaView.detalharDisciplina()}" disabled="#{!detalharTurmaView.umaTurmaSelecionada()}"/>
						   			</f:facet>
						   		
						   		</p:dataTable>
						   	</h:panelGrid>	
			   		</p:tab>
			   </p:tabView>
			   	<p:commandButton value="Voltar" action="#{detalharTurmaView.voltar()}" icon="ui-icon-arrow-1-w" styleClass="btnVoltar" immediate="true"/>
   				
   				<!-- MODAL DE CONFIRMAÇÃO -->
   				<p:dialog widgetVar="confirmarRemover" modal="true" closable="false" closeOnEscape="true" draggable="false" maximizable="false">
		   			<p:outputLabel value="Deseja realmente remover a disciplina selecionada?"/>
		   			<p:commandButton value="Sim" actionListener="#{detalharTurmaView.desvincularDisciplina()}"  update="@form:tabView:gridDisciplinas" oncomplete="PF('confirmarRemover').hide();"/>
		   			<p:commandButton value="Não" onclick="PF('confirmarRemover').hide();"/>
		   		</p:dialog>
		</ui:define>
	</ui:composition>
</html>