<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

	<ui:composition template="/WEB-INF/template.xhtml">
		<ui:define name="conteudo">
			   <h:panelGrid columns="3" id="infos">
			    	<f:facet name="header">
			    	<p:outputLabel value="Nome do Curso: #{detalharCursoView.curso.nome}"/>
			    	<p:outputLabel value="Código do Curso: #{detalharCursoView.curso.codCurso}" style="margin-left:50px;"/>
			    	<p:outputLabel value="Disponivel: #{detalharCursoView.curso.isDisponivel == 1 ? 'Sim': 'Não'}" style="margin-left:50px;"/>
			    	</f:facet>
			   </h:panelGrid>
			   <!-- DETALHAMENTO DAS TURMAS-->
			   <p:tabView id="tabView">
			   		<p:tab title="Turmas" id="subTabTurmas">
						   <h:panelGrid columns="4" id="filtrosTurma" cellpadding="5">
						    	<p:outputLabel value="Código da Turma:"/>
						    	<p:inputText value="#{detalharCursoView.codTurma}"/>
						    	
						    	<p:outputLabel value="Nome da Turma:" />
						    	<p:inputText value="#{detalharCursoView.nomeTurma}" />
						    	
						   		<p:outputLabel value="Ano da Turma:" />
						    	<p:selectOneMenu value="#{detalharCursoView.anoTurma}">
						    		<f:selectItem itemLabel="Selecione" itemValue="#{0}"/>
						    		<f:selectItems value="#{detalharCursoView.anos}" var="ano" itemLabel="#{ano.toString()}" itemValue="#{ano}"/>
						    	</p:selectOneMenu> 	
						   </h:panelGrid>
						   	<h:panelGrid width="100%" style="text-align: center;">
							   		<p:row>
								   		<p:commandButton value="Pesquisar" actionListener="#{detalharCursoView.pesquisarTurmas()}" update="gridTurmas"/>
								    	<p:commandButton value="Limpar" actionListener="#{detalharCursoView.limparTurma()}" update="filtrosTurma"/>
							    	</p:row>
						    </h:panelGrid>
						   
						   <br/><br/>
						   
						   <h:panelGrid id="gridTurmas">
						   		<p:dataTable value="#{detalharCursoView.turmas}" var="turma" selectionMode="single" selection="#{detalharCursoView.turmaSelecionada}"
						   		rowKey="#{turma.id}" emptyMessage="Nenhuma Turma" rows="10" paginator="true" paginatorPosition="bottom">
						   			<p:ajax event="rowSelect" update="@form:tabView:gridTurmas"/>
						   			<p:ajax event="rowUnselect" update="@form:tabView:gridTurmas"/>
						   			
						   			<p:column headerText="Código" style="text-align:center">
						   				<h:outputText value="#{turma.id.codigoTurma}" />
						   			</p:column>
						   			
						   			<p:column headerText="Nome" style="text-align:center">
						   				<h:outputText value="#{turma.nomeTurma}" />
						   			</p:column>
						   			
						   			<p:column headerText="Ano" style="text-align:center">
						   				<h:outputText value="#{turma.id.anoTurma}" />
						   			</p:column>
			
						   			<p:column headerText="Curso" style="text-align:center">
						   				<h:outputText value="#{turma.codCurso}" />
						   			</p:column>
						   			
						   			<f:facet name="footer">
						   				<p:commandButton value="Detalhar" actionListener="#{detalharCursoView.detalharTurma()}" disabled="#{detalharCursoView.nenhumaTurmaSelecionada()}"/>
						   			</f:facet>
						   		
						   		</p:dataTable>
						   	</h:panelGrid>	
			   		</p:tab>
			  		<!-- DETALHAMENTO DOS ALUNOS -->
			   		<p:tab title="Alunos" id="subTabAlunos">
						   <h:panelGrid columns="4" id="filtrosAlunos" cellpadding="5">
						    	<p:outputLabel value="RA do Aluno:" />
						    	<p:inputText value="#{detalharCursoView.raAluno}"/>
						    	
						    	<p:outputLabel value="Nome do Aluno:" />
						    	<p:inputText value="#{detalharCursoView.nomeAluno}" />
						    	
						   		<p:outputLabel value="Email:" />
						    	<p:inputText value="#{detalharCursoView.emailAluno}"/>
						    	 	
						   </h:panelGrid>
						   	<h:panelGrid width="100%" style="text-align: center;">
						   		<p:row>
							   		<p:commandButton value="Pesquisar" actionListener="#{detalharCursoView.pesquisarAlunos()}" update="gridAlunos"/>
							    	<p:commandButton value="Limpar" actionListener="#{detalharCursoView.limparAluno()}" update="filtrosAlunos"/>
						    	</p:row>
						    </h:panelGrid>
						   
						   <br/><br/>
						   
						   <p:panel id="gridAlunos" style="border:none;overflow-x:auto;">
						   		<p:dataTable value="#{detalharCursoView.alunos}" var="aluno" selectionMode="single" selection="#{detalharCursoView.alunoSelecionado}"
						   		rowKey="#{aluno.RA}" emptyMessage="Nenhum Aluno" rows="10" paginator="true" paginatorPosition="bottom">
						   			<p:ajax event="rowSelect" update="@form:tabView:gridAlunos"/>
						   			<p:ajax event="rowUnselect" update="@form:tabView:gridAlunos"/>
						   			
						   			<p:column headerText="RA do Aluno" style="text-align:center; width:110px;">
						   				<h:outputText value="#{aluno.RA}" />
						   			</p:column>
						   			
						   			<p:column headerText="Nome do Aluno" style="text-align:center; width:300px; ">
						   				<h:outputText value="#{aluno.nome}" />
						   			</p:column>
						   			
						   			<p:column headerText="Email" style="text-align:center; width:300px;">
						   				<h:outputText value="#{aluno.email}" />
						   			</p:column>
					
						   			<p:column headerText="Data Nascimento" style="text-align:center;width:150px;">
						   				<h:outputText value="#{aluno.dataNasc}">
						   					<f:convertDateTime pattern="dd/MM/yyyy"/>
						   				</h:outputText>
						   			</p:column>
						   			
						   			<p:column headerText="Sexo" style="text-align:center;width:50px;">
						   				<h:outputText value="#{aluno.sexo == 'M' ? 'Masc.' : 'Fem.'}" />
						   			</p:column>
						   			
						   			<f:facet name="footer">
						   				<p:commandButton value="Adicionar" actionListener="#{detalharCursoView.vincularAluno()}"/>
						   				<p:commandButton value="Deletar" onclick="PF('confirmarRemover').show();" disabled="#{detalharCursoView.nenhumAlunoSelecionado()}"/>
						   				<p:commandButton value="Detalhar" actionListener="#{detalharCursoView.detalharAluno()}" disabled="#{detalharCursoView.nenhumAlunoSelecionado()}"/>
						   			</f:facet>
						   		
						   		</p:dataTable>
						   	</p:panel>
			   		</p:tab>
			   </p:tabView>
			   	<p:commandButton value="Voltar" action="#{detalharCursoView.voltar()}" icon="ui-icon-arrow-1-w" styleClass="btnVoltar" immediate="true"/>
   				
   				<!-- MODAL DE CONFIRMAÇÃO -->
   				<p:dialog widgetVar="confirmarRemover" modal="true" closable="false" closeOnEscape="true" draggable="false" maximizable="false">
		   			<p:outputLabel value="Deseja realmente remover o aluno #{detalharCursoView.alunoSelecionado.nome} do curso #{detalharCursoView.curso.codCurso}?"/>
		   			<p:commandButton value="Sim" actionListener="#{detalharCursoView.desvincularAluno()}"  update="@form:tabView:gridAlunos" oncomplete="PF('confirmarRemover').hide();"/>
		   			<p:commandButton value="Não" onclick="PF('confirmarRemover').hide();"/>
		   		</p:dialog>
		</ui:define>
	</ui:composition>
</html>