<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

	<ui:composition template="/WEB-INF/template.xhtml">
		<ui:define name="conteudo">
			   <f:event listener="#{detalharAlunoView.init()}" type="preRenderView"></f:event>
			   <h:panelGrid columns="3" id="infos">
			    	<f:facet name="header">
				    	<p:outputLabel value="Nome: #{detalharAlunoView.alunoSelecionado.nome}"/>
				    	<p:outputLabel value="RA: #{detalharAlunoView.alunoSelecionado.RA}" style="margin-left:50px;"/>
				    	<p:outputLabel value="Email: #{detalharAlunoView.alunoSelecionado.email}" style="margin-left:50px;"/>
				    	<div style="margin-left:50px; display:inline;">
				    		<p:outputLabel value="Data Nascimento: "/>
				    		<p:outputLabel  value="#{detalharAlunoView.alunoSelecionado.dataNasc}">
				    			<f:convertDateTime pattern="dd/MM/yyyy"/>
				    		</p:outputLabel>
				    	</div>
				    	
				    	<p:outputLabel value="Sexo: #{detalharAlunoView.alunoSelecionado.sexo == 'M' ? 'Masc' : 'Fem'}" style="margin-left:50px;"/>
			    	</f:facet>
			   </h:panelGrid>
			   <p:tabView id="tabView">
			   <!-- DETALHAMENTO DOS CURSOS -->
			   		<p:tab title="Cursos" id="subTabCursos">
						   <h:panelGrid style="margin: 0 auto;">
							   <h:panelGrid columns="4" id="filtrosCurso" cellpadding="5">
							    	<p:outputLabel value="Código do Curso:" />
							    	<p:inputText value="#{detalharAlunoView.codCurso}" />
							    	
							    	<p:outputLabel value="Nome do Curso:" />
							    	<p:inputText value="#{detalharAlunoView.nomeCurso}"/>
							    	
							    	<p:outputLabel value="Disponivel" />
							    	<p:selectOneRadio value="#{detalharAlunoView.cursoDisponivel}">
							   			<f:selectItem itemLabel="Todos" itemValue="#{-1}"/>
							   			<f:selectItem itemLabel="Sim" itemValue="#{1}"/>
							   			<f:selectItem itemLabel="Não" itemValue="#{0}"/>
							   		</p:selectOneRadio>
							    	 	
							   </h:panelGrid>
							   	<h:panelGrid width="100%" style="text-align: center;">
							   		<p:row>
								   		<p:commandButton value="Pesquisar" actionListener="#{detalharAlunoView.pesquisarCursos()}" update="gridCursos"/>
								    	<p:commandButton value="Limpar">
								    		<p:ajax resetValues="true" update="@form:tabView:filtrosCurso"/>
								    	</p:commandButton>
							    	</p:row>
							    </h:panelGrid>
							 </h:panelGrid>
						   
						   <br/><br/>
						   
						   <p:panel id="gridCursos" style="border:none;overflow-x:auto;">
						   		<p:dataTable value="#{detalharAlunoView.cursos}" var="curso" selectionMode="multiple" selection="#{detalharAlunoView.cursosSelecionados}"
						   		rowKey="#{curso.codCurso}" emptyMessage="Nenhum Curso" rows="10" paginator="true" paginatorPosition="bottom">
						   			<p:ajax event="rowSelect" update="@form:tabView:gridCursos"/>
						   			<p:ajax event="rowUnselect" update="@form:tabView:gridCursos"/>
						   			
						   			<p:column headerText="Código do Curso" style="text-align:center;">
						   				<h:outputText value="#{curso.codCurso}" />
						   			</p:column>
						   			
						   			<p:column headerText="Nome do Curso" style="text-align:center;">
						   				<h:outputText value="#{curso.nome}" />
						   			</p:column>
						   			
						   			<f:facet name="footer">
						   				<p:commandButton value="Adicionar" actionListener="#{detalharAlunoView.vincularCurso()}"/>
						   				<p:commandButton value="Deletar" onclick="PF('confirmarRemoverCursos').show();" disabled="#{detalharAlunoView.nenhumCursoSelecionado()}"/>
						   				<p:commandButton value="Detalhar" actionListener="#{detalharAlunoView.detalharCurso()}" disabled="#{!detalharAlunoView.umCursoSelecionado()}"/>
						   			</f:facet>
						   		
						   		</p:dataTable>
						   	</p:panel>
			   		</p:tab>
			   		<!-- DETALHAMENTO DAS TURMAS-->
			   		<p:tab title="Turmas" id="subTabTurmas">
						   <h:panelGrid style="margin: 0 auto;">
							   <h:panelGrid columns="4" id="filtrosTurma" cellpadding="5">
							    	<p:outputLabel value="Código da Turma:"/>
							    	<p:inputText value="#{detalharAlunoView.codTurma}"/>
							    	
							    	<p:outputLabel value="Nome da Turma:"/>
							    	<p:inputText value="#{detalharAlunoView.nomeTurma}"/>
							    	
							    	<p:outputLabel value="Ano da Turma:" />
							    	<p:selectOneMenu value="#{detalharAlunoView.anoTurma}">
							    		<f:selectItem itemLabel="Todas" itemValue="#{-1}"/>
							    		<f:selectItems value="#{detalharAlunoView.todosAnosTurma}"/>
							    	</p:selectOneMenu>
							    	
							    	<p:outputLabel value="Curso:" />
							    	<p:selectOneMenu value="#{detalharAlunoView.comboCurso}">
							    		<f:selectItem itemLabel="Todos" itemValue=""/>
							    		<f:selectItems value="#{detalharAlunoView.cursosComboBox}" var="c" itemLabel="#{c.nome}" itemValue="#{c.codCurso}"/>
							    	</p:selectOneMenu> 	
							   </h:panelGrid>
						   </h:panelGrid>
						   	<h:panelGrid width="100%" style="text-align: center;">
							   		<p:row>
								   		<p:commandButton value="Pesquisar" actionListener="#{detalharAlunoView.pesquisarTurmas()}" update="gridTurmas"/>
								    	<p:commandButton value="Limpar" >
								    		<p:ajax resetValues="true" update="@form:tabView:filtrosTurma"/>
								    	</p:commandButton>
							    	</p:row>
						    </h:panelGrid>
						   
						   <br/><br/>
						   
						   <h:panelGrid id="gridTurmas">
						   		<p:dataTable value="#{detalharAlunoView.turmas}" var="turma" selectionMode="multiple" selection="#{detalharAlunoView.turmasSelecionadas}"
						   		rowKey="#{turma.id}" emptyMessage="Nenhuma Turma" rows="10" paginator="true" paginatorPosition="bottom">
						   			<p:ajax event="rowSelect" update="@form:tabView:gridTurmas"/>
						   			<p:ajax event="rowUnselect" update="@form:tabView:gridTurmas"/>
						   			
						   			<p:column headerText="Código" style="text-align:center">
						   				<h:outputText value="#{turma.id.codigoTurma}" />
						   			</p:column>
						   			
						   			<p:column headerText="Nome" style="text-align:center">
						   				<h:outputText value="#{turma.nomeTurma}" />
						   			</p:column>
						   			
						   			<p:column headerText="Ano" style="text-align:center">
						   				<h:outputText value="#{turma.id.anoTurma}" />
						   			</p:column>
			
						   			<p:column headerText="Curso" style="text-align:center">
						   				<h:outputText value="#{turma.codCurso}" />
						   			</p:column>
						   			
						   			<f:facet name="footer">
						   				<p:commandButton value="Adicionar" actionListener="#{detalharAlunoView.vincularTurma()}"/>
						   				<p:commandButton value="Deletar" actionListener="#{detalharAlunoView.desvincularTurma()}" disabled="#{detalharAlunoView.nenhumaTurmaSelecionada()}"/>
						   				<p:commandButton value="Detalhar" actionListener="#{detalharAlunoView.detalharTurma()}" disabled="#{!detalharAlunoView.umaTurmaSelecionada()}"/>
						   			</f:facet>
						   		
						   		</p:dataTable>
						   	</h:panelGrid>	
			   		</p:tab>
			  		<!-- DETALHAMENTO DAS DISCIPLINAS -->
			   		<p:tab title="Disciplinas" id="subTabDisciplinas">
						   <h:panelGrid style="margin: 0 auto;">
							   <h:panelGrid columns="4" id="filtrosDisciplina" cellpadding="5">
							    	<p:outputLabel value="Código da Disciplina:" />
							    	<p:inputText value="#{detalharAlunoView.codDisciplina}" />
							    	
							    	<p:outputLabel value="Nome da Disciplina:" />
							    	<p:inputText value="#{detalharAlunoView.nomeDisciplina}"/>
							    	 	
							   </h:panelGrid>
							   	<h:panelGrid width="100%" style="text-align: center;">
							   		<p:row>
								   		<p:commandButton value="Pesquisar" actionListener="#{detalharAlunoView.pesquisarDisciplina()}" update="gridDisciplinas"/>
								    	<p:commandButton value="Limpar">
								    		<p:ajax resetValues="true" update="@form:tabView:filtrosDisciplina"/>
								    	</p:commandButton>
							    	</p:row>
							    </h:panelGrid>
							 </h:panelGrid>
						   
						   <br/><br/>
						   
						   <p:panel id="gridDisciplinas" style="border:none;overflow-x:auto;">
						   		<p:dataTable value="#{detalharAlunoView.disciplinas}" var="disciplina" selectionMode="multiple" selection="#{detalharAlunoView.disciplinasSelecionadas}"
						   		rowKey="#{disciplina.codigoDisciplina}" emptyMessage="Nenhuma Disciplina" rows="10" paginator="true" paginatorPosition="bottom">
						   			<p:ajax event="rowSelect" update="@form:tabView:gridDisciplinas"/>
						   			<p:ajax event="rowUnselect" update="@form:tabView:gridDisciplinas"/>
						   			
						   			<p:column headerText="Código da Disciplina" style="text-align:center;">
						   				<h:outputText value="#{disciplina.codigoDisciplina}" />
						   			</p:column>
						   			
						   			<p:column headerText="Nome da Disciplina" style="text-align:center;">
						   				<h:outputText value="#{disciplina.nome}" />
						   			</p:column>
						   			
						   			<f:facet name="footer">
						   				<p:commandButton value="Adicionar" actionListener="#{detalharAlunoView.vincularDisciplina()}"/>
						   				<p:commandButton value="Deletar" onclick="PF('confirmarRemoverDisciplinas').show();" disabled="#{detalharAlunoView.nenhumaDisciplinaSelecionada()}"/>
						   				<p:commandButton value="Detalhar" actionListener="#{detalharAlunoView.detalharDisciplina()}" disabled="#{!detalharAlunoView.umaDisciplinaSelecionada()}"/>
						   			</f:facet>
						   		
						   		</p:dataTable>
						   	</p:panel>
			   		</p:tab>
			  		<!-- DETALHAMENTO DAS ATIVIDADES-->
			   		<p:tab title="Atividades" id="subTabAtividades">
						   <h:panelGrid style="margin: 0 auto;">
							   <h:panelGrid columns="4" id="filtrosAtividade" cellpadding="5">
							    	<p:outputLabel value="Código da Atividade:" />
							    	<p:inputText value="#{detalharAlunoView.codAtividade}" />
							    	
							    	<p:outputLabel value="Nome da Atividade:" />
							    	<p:inputText value="#{detalharAlunoView.nomeAtividade}"/>
							    	
							    	<p:outputLabel value="Turma:" />
							    	<p:selectOneMenu value="#{detalharAlunoView.codTurmaDaAtividade}">
							    		<f:selectItem itemLabel="Todas" itemValue=""/>
							    		<f:selectItems value="#{detalharAlunoView.turmasAtividades}" var="ta" itemLabel="#{ta.id.codigoTurma}" itemValue="#{ta.id.codigoTurma}"/>
							    		<p:ajax event="change" update="cbAnoAtividade"/>
							    	</p:selectOneMenu>
							    	
							    	<p:outputLabel value="Ano da Turma:" />
							    	<p:selectOneMenu value="#{detalharAlunoView.anoTurmaDaAtividade}" id="cbAnoAtividade">
							    		<f:selectItem itemLabel="Todas" itemValue="#{-1}"/>
							    		<f:selectItems value="#{detalharAlunoView.anosTurmasAtividades}"/>
							    		<p:ajax event="change" update="cbDiscAtividade"/>
							    	</p:selectOneMenu>
							    	
							    	<p:outputLabel value="Disciplina:" />
							    	<p:selectOneMenu value="#{detalharAlunoView.codDisciplinaDaAtividade}" id="cbDiscAtividade">
							    		<f:selectItem itemLabel="Todas" itemValue=""/>
							    		<f:selectItems value="#{detalharAlunoView.disciplinasAtividade}" var="da" itemLabel="#{da.nome}" itemValue="#{da.codigoDisciplina}"/>
							    	</p:selectOneMenu>
							    	
							    	<p:outputLabel value="Area de Atividade:" />
							    	<p:selectOneMenu value="#{detalharAlunoView.areaAtividadeDaAtividade}">
							    		<f:selectItem itemLabel="Todas" itemValue="#{0}"/>
							    		<f:selectItems value="#{detalharAlunoView.areasAtividades}"/>
							    	</p:selectOneMenu>

							    	 	
							   </h:panelGrid>
							   	<h:panelGrid width="100%" style="text-align: center;">
							   		<p:row>
								   		<p:commandButton value="Pesquisar" actionListener="#{detalharAlunoView.pesquisarAtividade()}" update="gridAtividades"/>
								    	<p:commandButton value="Limpar">
								    		<p:ajax resetValues="true" update="@form:tabView:filtrosAtividade"/>
								    	</p:commandButton>
							    	</p:row>
							    </h:panelGrid>
							 </h:panelGrid>
						   
						   <br/><br/>
						   
						   <p:panel id="gridAtividades" style="border:none;overflow-x:auto;">
						   		<p:dataTable value="#{detalharAlunoView.atividades}" var="atv" selectionMode="multiple" selection="#{detalharAlunoView.atividadesSelecionadas}"
						   		rowKey="#{atv}" emptyMessage="Nenhuma Atividade" rows="10" paginator="true" paginatorPosition="bottom">
						   			<p:ajax event="rowSelect" update="@form:tabView:gridAtividades"/>
						   			<p:ajax event="rowUnselect" update="@form:tabView:gridAtividades"/>
						   			
						   			<p:column headerText="Código" style="text-align:center;width:100px;">
						   				<h:outputText value="#{atv.codAtividade}" />
						   			</p:column>

						   			<p:column headerText="Nome" style="text-align:center;width:200px;">
						   				<h:outputText value="#{atv.nomeAtividade}" />
						   			</p:column>
						   			
						   			<p:column headerText="Turma" style="text-align:center;width:100px;">
						   				<h:outputText value="#{atv.codTurma}" />
						   			</p:column>

						   			<p:column headerText="Ano" style="text-align:center;width:60px;">
						   				<h:outputText value="#{atv.anoTurma}" />
						   			</p:column>
						   			
						   			<p:column headerText="Disciplina" style="text-align:center;width:100px;">
						   				<h:outputText value="#{atv.codDisciplina}" />
						   			</p:column>

						   			<p:column headerText="Area da Atividade" style="text-align:center;width:60px;">
						   				<h:outputText value="#{atv.areaAtividade}" />
						   			</p:column>
						   			
									<p:column headerText="Data Liberação" style="text-align:center; width:150px">
						   				<h:outputText value="#{atv.dataAbertura}">
						   					<f:convertDateTime pattern="dd/MM/yyyy HH:mm" timeZone="America/Sao_Paulo"/>
						   				</h:outputText>
						   			</p:column>

									<p:column headerText="Data Encerramento" style="text-align:center; width:150px;">
						   				<h:outputText value="#{atv.dataEncerramento}">
						   					<f:convertDateTime pattern="dd/MM/yyyy HH:mm" timeZone="America/Sao_Paulo"/>
						   				</h:outputText>
						   			</p:column>
						   			
									<p:column headerText="Inicio do Aluno" style="text-align:center;width:150px;">
						   				<h:outputText value="#{atv.dataAlunoComecou}">
						   					<f:convertDateTime pattern="dd/MM/yyyy HH:mm" timeZone="America/Sao_Paulo"/>
						   				</h:outputText>
						   			</p:column>						   			
						   			
									<p:column headerText="Termino do Aluno" style="text-align:center;width:150px;">
						   				<h:outputText value="#{atv.dataAlunoTerminou}">
						   					<f:convertDateTime pattern="dd/MM/yyyy HH:mm" timeZone="America/Sao_Paulo"/>
						   				</h:outputText>
						   			</p:column>
						   			
						   			<p:column headerText="Valor tarefa:" style="text-align:center;width:60px;">
						   				<h:outputText value="#{atv.valorTotalAtividade}" />
						   			</p:column>
						   			
						   			<p:column headerText="Nota do Aluno" style="text-align:center;width:60px;">
						   				<h:outputText value="#{atv.notaDoAluno}" />
						   			</p:column>
						   			
						   			<p:column headerText="Finalizada" style="text-align:center;width:100px;">
						   				<h:outputText value="#{atv.finalizada == 1 ? 'Sim' : 'Nâo'}" />
						   			</p:column>
						   			
						   			<f:facet name="footer">
						   				<p:commandButton value="Deletar" onclick="PF('confirmarRemoverAtividade').show();" disabled="#{detalharAlunoView.nenhumaAtividadeSelecionada()}"/>
						   				<p:commandButton value="Detalhar" actionListener="#{detalharAlunoView.detalharDisciplina()}" disabled="#{!detalharAlunoView.umaAtividadeSelecionada()}"/>
						   			</f:facet>
						   		
						   		</p:dataTable>
						   	</p:panel>
			   		</p:tab>
			   </p:tabView>
			   	<p:commandButton value="Voltar" action="#{detalharAlunoView.voltar()}" icon="ui-icon-arrow-1-w" styleClass="btnVoltar" immediate="true"/>
   				
   				<!-- MODAL DE CONFIRMAÇÃO DELETAR TURMA-->
   				<p:dialog widgetVar="confirmarRemoverTurmas" modal="true" closable="false" closeOnEscape="true" draggable="false" maximizable="false">
		   			<p:outputLabel value="Deseja realmente desvincular o Aluno da Turma? "/>
		   			<p:commandButton value="Sim" actionListener="#{detalharAlunoView.desvincularTurma()}"  update="@form:tabView:gridTurmas" oncomplete="PF('confirmarRemoverTurmas').hide();"/>
		   			<p:commandButton value="Não" onclick="PF('confirmarRemoverTurmas').hide();"/>
		   		</p:dialog>
   				
   				<!-- MODAL DE CONFIRMAÇÃO DELETAR DISCIPLINA-->
   				<p:dialog widgetVar="confirmarRemoverDisciplinas" modal="true" closable="false" closeOnEscape="true" draggable="false" maximizable="false">
		   			<p:outputLabel value="Deseja realmente desvincular o Aluno da Disciplina?"/>
		   			<p:commandButton value="Sim" actionListener="#{detalharAlunoView.desvincularDisciplina()}"  update="@form:tabView:gridDisciplinas" oncomplete="PF('confirmarRemoverDisciplinas').hide();"/>
		   			<p:commandButton value="Não" onclick="PF('confirmarRemoverDisciplinas').hide();"/>
		   		</p:dialog>

   				<!-- MODAL DE CONFIRMAÇÃO DELETAR CURSO-->
   				<p:dialog widgetVar="confirmarRemoverCursos" modal="true" closable="false" closeOnEscape="true" draggable="false" maximizable="false">
		   			<p:outputLabel value="Deseja realmente desvincular o Aluno do Curso?"/>
		   			<p:commandButton value="Sim" actionListener="#{detalharAlunoView.desvincularCurso()}"  update="@form:tabView:gridCursos" oncomplete="PF('confirmarRemoverCursos').hide();"/>
		   			<p:commandButton value="Não" onclick="PF('confirmarRemoverCursos').hide();"/>
		   		</p:dialog>

   				<!-- MODAL DE CONFIRMAÇÃO DELETAR ATIVIDADE-->
   				<p:dialog widgetVar="confirmarRemoverAtividade" modal="true" closable="false" closeOnEscape="true" draggable="false" maximizable="false">
		   			<p:outputLabel value="Deseja realmente remover a Atividade do Aluno?"/>
		   			<p:commandButton value="Sim" actionListener="#{detalharAlunoView.deletarAtividadeDoAluno()}"  update="@form:tabView:gridAtividades" oncomplete="PF('confirmarRemoverAtividade').hide();"/>
		   			<p:commandButton value="Não" onclick="PF('confirmarRemoverAtividade').hide();"/>
		   		</p:dialog>
		</ui:define>
	</ui:composition>
</html>