<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

	<ui:composition template="/WEB-INF/template.xhtml">
		<ui:define name="conteudo">
			<h1>ERRO NA APLICAÇÃO WEB!</h1>
		</ui:define>
	</ui:composition>
</html>