<ui:composition template="/WEB-INF/template.xhtml" 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    
    <ui:define name="conteudo">
    	<f:event listener="#{gestaoTurmaView.init()}" type="preRenderView"/>
		<h:panelGrid style="margin: 0 auto;">
			   <h:panelGrid columns="4" id="filtrosTurma" cellpadding="5">
			    	<p:outputLabel value="Código da Turma:"/>
			    	<p:inputText value="#{gestaoTurmaView.codTurma}"/>
			    	
			    	<p:outputLabel value="Nome da Turma:"/>
			    	<p:inputText value="#{gestaoTurmaView.nomeTurma}"/>
			    	
			    	<p:outputLabel value="Ano da Turma:" />
			    	<p:selectOneMenu value="#{gestaoTurmaView.anoTurma}">
			    		<f:selectItem itemLabel="Todas" itemValue="#{-1}"/>
			    		<f:selectItems value="#{gestaoTurmaView.anosDasTurmas}"/>
			    	</p:selectOneMenu>
			    	
			    	<p:outputLabel value="Curso:" />
			    	<p:selectOneMenu value="#{gestaoTurmaView.codCurso}">
			    		<f:selectItem itemLabel="Todos" itemValue=""/>
			    		<f:selectItems value="#{gestaoTurmaView.cursos}" var="c" itemLabel="#{c.nome}" itemValue="#{c.codCurso}"/>
			    	</p:selectOneMenu> 	
			   </h:panelGrid>
			   <h:panelGrid style="text-align: center; width:100%;">		
			   		<p:row>
				   		<p:commandButton value="Pesquisar" actionListener="#{gestaoTurmaView.pesquisar()}" update="containerGridTurmas"/>
				   		<p:commandButton value="Limpar">
				   			<p:ajax resetValues="true" update="filtrosTurma"/>
				   		</p:commandButton>
			   		</p:row>
		   		</h:panelGrid>
		   </h:panelGrid>
	   
	   <p:panel id="containerGridTurmas" style="border:none;overflow-x:auto;">
	   		<p:dataTable value="#{gestaoTurmaView.turmas}" var="turma" selectionMode="multiple" selection="#{gestaoTurmaView.turmasSelecionadas}"
	   		rowKey="#{turma.id}" emptyMessage="Nenhuma Turma" rows="10" paginator="true" paginatorPosition="bottom">
	   			<p:ajax event="rowSelect" update="@form:containerGridTurmas"/>
	   			<p:ajax event="rowUnselect" update="@form:containerGridTurmas"/>
	   			
	   			<p:column headerText="Código" style="text-align:center">
	   				<h:outputText value="#{turma.id.codigoTurma}" />
	   			</p:column>
	   			
	   			<p:column headerText="Nome" style="text-align:center">
	   				<h:outputText value="#{turma.nomeTurma}" />
	   			</p:column>
	   			
	   			<p:column headerText="Ano" style="text-align:center">
	   				<h:outputText value="#{turma.id.anoTurma}" />
	   			</p:column>

	   			<p:column headerText="Curso" style="text-align:center">
	   				<h:outputText value="#{turma.codCurso}" />
	   			</p:column>
	   			
	   			<f:facet name="footer">
	   				<p:commandButton value="Cadastrar" actionListener="#{gestaoTurmaView.cadastrar()}"/>
	   				<p:commandButton value="Deletar" oncomplete="PF('confirmarDeletar').show();" disabled="#{!gestaoTurmaView.temTurmaSelecionada()}" update="@form:confirmarDeletarID"/>
	   				<p:commandButton value="Detalhar" actionListener="#{gestaoTurmaView.detalhar()}" disabled="#{!gestaoTurmaView.temUmaTurmaSelecionada()}"/>
	   				<p:commandButton value="Editar" actionListener="#{gestaoTurmaView.modificar()}" disabled="#{!gestaoTurmaView.temUmaTurmaSelecionada()}"/>
	   			</f:facet>
	   		</p:dataTable>
	   </p:panel>
	   <p:dialog id="confirmarDeletarID" widgetVar="confirmarDeletar" modal="true" closable="false" closeOnEscape="true" draggable="false" maximizable="false">
 			<p:outputLabel value="Deseja realmente excluir a Turma?"/>
 			<p:commandButton value="Sim" actionListener="#{gestaoTurmaView.deletar()}" update="@form"/>
 			<p:commandButton value="Não" onclick="PF('confirmarDeletar').hide();"/>
 		</p:dialog> 	
	</ui:define>
    
</ui:composition>