<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

	<ui:composition template="/WEB-INF/template.xhtml">
		<ui:define name="conteudo">
			   <h:panelGrid style="margin: 0 auto;">
			   <h:panelGrid columns="4" id="filtros" cellspacing="5">
			    	<p:outputLabel value="Nome do Curso:" for="inptNomeCurso"/>
			    	<p:inputText id="inptNomeCurso" value="#{gestaoCursoView.nomeCurso}"/>
			    	
			    	<p:outputLabel value="Código do Curso:"/>
			    	<p:inputText id="inptCodigoCurso" value="#{gestaoCursoView.codigoCurso}"/>
			    	
			   		<p:outputLabel value="Disponível:"/>
			   		<p:selectOneRadio value="#{gestaoCursoView.cursoDisponivel}">
			   			<f:selectItem itemLabel="Todos" itemValue="#{-1}"/>
			   			<f:selectItem itemLabel="Sim" itemValue="#{1}"/>
			   			<f:selectItem itemLabel="Não" itemValue="#{0}"/>
			   		</p:selectOneRadio>
			   		
			   </h:panelGrid>
			   <h:panelGrid style="text-align: center; width:100%;">		
			   		<p:row>
				   		<p:commandButton value="Pesquisar" actionListener="#{gestaoCursoView.pesquisar()}" update="gridCursos"/>
				   		<p:commandButton value="Limpar" actionListener="#{gestaoCursoView.limparFiltros()}" update="filtros"/>
			   		</p:row>
		   		</h:panelGrid>
		   		</h:panelGrid>
			   
			   
			   <br/><br/>
			   <br/><br/>
			   <h:panelGrid id="gridCursos">
			   		<p:dataTable value="#{gestaoCursoView.cursos}" var="curso" selectionMode="single" selection="#{gestaoCursoView.cursoSelecionado}"
			   		rowKey="#{curso.codCurso}" emptyMessage="Nenhum Curso" rows="10" paginator="true" paginatorPosition="bottom">
			   			<p:ajax event="rowSelect" update="@form:gridCursos"/>
			   			<p:ajax event="rowUnselect" update="@form:gridCursos"/>
			   			
			   			<p:column headerText="Código" style="text-align:center" width="25%">
			   				<h:outputText value="#{curso.codCurso}" />
			   			</p:column>
			   			
			   			<p:column headerText="Nome" style="text-align:center" width="60%">
			   				<h:outputText value="#{curso.nome}" />
			   			</p:column>
			   			
			   			<p:column headerText="Disponivel" style="text-align:center" width="15%">
			   				<h:outputText value="#{curso.isDisponivel == 1 ? 'Sim' : 'Não'}" />
			   			</p:column>
			   			
			   			<f:facet name="footer">
			   				<p:commandButton value="Cadastrar" actionListener="#{gestaoCursoView.cadastrarCurso()}"/>
			   				<p:commandButton value="Deletar" onclick="PF('confirmarDeletar').show();" disabled="#{!gestaoCursoView.cursoEstaSelecionado()}"/>
			   				<p:commandButton value="Detalhar" action="#{gestaoCursoView.detalharCurso()}" disabled="#{!gestaoCursoView.cursoEstaSelecionado()}"/>
			   				<p:commandButton value="Editar" action="#{gestaoCursoView.modificarCurso()}" disabled="#{!gestaoCursoView.cursoEstaSelecionado()}"/>
			   			</f:facet>
			   		
			   		</p:dataTable>
			   		
			   		<p:dialog widgetVar="confirmarDeletar" modal="true" closable="false" closeOnEscape="true" draggable="false" maximizable="false">
			   			<p:outputLabel value="Deseja realmente excluir o curso #{gestaoCursoView.cursoSelecionado.nome}?"/>
			   			<p:commandButton value="Sim" actionListener="#{gestaoCursoView.deletarCurso()}"  update="@form"/>
			   			<p:commandButton value="Não" onclick="PF('confirmarDeletar').hide();"/>
			   		</p:dialog>
			   </h:panelGrid>
			   
			   
		</ui:define>
	</ui:composition>
</html>