<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

	<ui:composition template="/WEB-INF/template.xhtml">
		<ui:define name="conteudo">
			   <h:panelGrid style="margin: 0 auto;">
			   <h:panelGrid columns="4" id="filtros" cellspacing="5">
			    	
			    	<p:outputLabel value="Código da Atividade:"/>
			    	<p:inputText value="#{gestaoAtividadeView.codAtividade}"/>
			    	
			    	<p:outputLabel value="Disciplina:"/>
			    	<p:selectOneMenu value="#{gestaoAtividadeView.codDisciplina}">
			    		<f:selectItem itemLabel="Selecione" itemValue=""/>
			    		<f:selectItems value="#{gestaoAtividadeView.todasAsDisciplinas}" var="d" itemLabel="#{d.nome}" itemValue="#{d.codigoDisciplina}"/>
			    	</p:selectOneMenu>
			    	
			   		<p:outputLabel value="Area de Atividade:"/>
			   		<p:selectOneMenu value="#{gestaoAtividadeView.areaAtividade}">
			    		<f:selectItem itemLabel="Selecione" itemValue="#{0}"/>
			    		<f:selectItems value="#{gestaoAtividadeView.todasAsAreasDeAtividades}" var="areaAt" itemLabel="#{areaAt.areaAtividade}" itemValue="#{areaAt.id}"/>
			    	</p:selectOneMenu>
			    	
			    	<p:outputLabel value="Disponível:"/>
			   		<p:selectOneRadio value="#{gestaoAtividadeView.disponivel}">
			   			<f:selectItem itemLabel="Todos" itemValue="#{-1}"/>
			   			<f:selectItem itemLabel="Sim" itemValue="#{1}"/>
			   			<f:selectItem itemLabel="Não" itemValue="#{0}"/>
			   		</p:selectOneRadio>
			   		
			   		<p:outputLabel value="Nome da Atividade:"/>
			   		<p:inputText value="#{gestaoAtividadeView.nomeAtividade}"/>
			   		
			   </h:panelGrid>
			   
			   	<h:panelGrid style="text-align: center; width:100%;">
			   		<p:row>
				   		<p:commandButton value="Pesquisar" actionListener="#{gestaoAtividadeView.pesquisar()}" update="gridAtividades"/>
			   			<p:commandButton value="Limpar">
			   				<p:ajax resetValues="true" update="filtros"/>
			   			</p:commandButton>
			    	</p:row>
			    </h:panelGrid>
			    </h:panelGrid>
			   
			   
			   <br/><br/>
			   <br/><br/>
			    <p:panel id="gridAtividades" style="border:none;overflow-x:auto;">
			   		<p:dataTable value="#{gestaoAtividadeView.atividades}" var="atividade" selectionMode="multiple" selection="#{gestaoAtividadeView.atividadesSelecionadas}"
			   		rowKey="#{atividade.idAtividade}" emptyMessage="Nenhuma atividade" rows="10" paginator="true" paginatorPosition="bottom">
			   			<p:ajax event="rowSelect" update="@form:gridAtividades"/>
			   			<p:ajax event="rowUnselect" update="@form:gridAtividades"/>
			   			
			   			<p:column headerText="Código da Atividade" style="text-align:center; width:180px;">
			   				<h:outputText value="#{atividade.idAtividade.codigoAtividade}" />
			   			</p:column>
			   			
			   			<p:column headerText="Nome da Atividade" style="text-align:center; width:220px;">
			   				<h:outputText value="#{atividade.nome}" />
			   			</p:column>
			   			
			   			<p:column headerText="Qt. de At. Disp." style="text-align:center; width:220px;">
			   				<h:outputText value="#{atividade.quantidadeAtividadesDisponiveis}" />
			   			</p:column>
			   			
			   			<p:column headerText="Disciplina" style="text-align:center; width:100px; ">
			   				<h:outputText value="#{atividade.idAtividade.codigoDisciplina}" />
			   			</p:column>
			   			
			   			<p:column headerText="Area Atividade" style="text-align:center; width:120px;">
			   				<h:outputText value="#{gestaoAtividadeView.nomeAreaAtividade(atividade.idAtividade.areaAtividade)}" />
			   			</p:column>
			   			
			   			<p:column headerText="Disponivel" style="text-align:center" width="100px;">
			   				<h:outputText value="#{gestaoAtividadeView.intDisponivelToString(atividade)}" />
			   			</p:column>
			   			
			   			<f:facet name="footer">
			   				<p:commandButton value="Cadastrar" actionListener="#{gestaoAtividadeView.cadastrarAtividade()}"/>
			   				<p:commandButton value="Deletar" oncomplete="PF('confirmarDeletar').show();" disabled="#{!gestaoAtividadeView.temAtividadeSelecionada()}" update="@form:confirmarDeletarID"/>
			   				<p:commandButton value="Detalhar" actionListener="#{gestaoAtividadeView.detalharAtividade()}" disabled="#{!gestaoAtividadeView.temUmaAtividadeSelecionada()}"/>
			   				<p:commandButton value="Editar" actionListener="#{gestaoAtividadeView.modificarAtividade()}" disabled="#{!gestaoAtividadeView.temUmaAtividadeSelecionada()}"/>
			   			</f:facet>
			   		
			   		</p:dataTable>
			   		</p:panel>

			   <p:dialog id="confirmarDeletarID" widgetVar="confirmarDeletar" modal="true" closable="false" closeOnEscape="true" draggable="false" maximizable="false">
		   			<p:outputLabel value="Deseja realmente excluir a atividade?"/>
		   			<p:commandButton value="Sim" actionListener="#{gestaoAtividadeView.deletarAtividade()}" update="@form"/>
		   			<p:commandButton value="Não" onclick="PF('confirmarDeletar').hide();"/>
		   		</p:dialog> 
		</ui:define>
	</ui:composition>
</html>