<ui:composition template="/WEB-INF/template.xhtml" 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    
    <ui:define name="conteudo">
		<h:panelGrid style="margin: 0 auto;">
			   <h:panelGrid columns="4" id="filtros" cellspacing="5">
			    	<p:outputLabel value="Nome da Disciplina:"/>
			    	<p:inputText value="#{pesquisarDisciplinaView.nomeDisciplina}"/>
			    	
			    	<p:outputLabel value="Código da Disciplina"/>
			    	<p:inputText value="#{pesquisarDisciplinaView.codDisciplina}"/>
			   		
			   </h:panelGrid>
			   <h:panelGrid style="text-align: center; width:100%;">		
			   		<p:row>
				   		<p:commandButton value="Pesquisar" actionListener="#{pesquisarDisciplinaView.pesquisar()}" update="containerGridDisciplias"/>
				   		<p:commandButton value="Limpar">
				   			<p:ajax resetValues="true" update="filtros"/>
				   		</p:commandButton>
			   		</p:row>
		   		</h:panelGrid>
		   </h:panelGrid>
	   
	   <p:panel id="containerGridDisciplias" style="border:none;overflow-x:auto;">
	   		<p:dataTable value="#{pesquisarDisciplinaView.disciplinas}" var="disc" selectionMode="multiple" selection="#{pesquisarDisciplinaView.disciplinasSelecionadas}"
	   		rowKey="#{disc.codigoDisciplina}" emptyMessage="Nenhuma Disciplina" rows="10" paginator="true" paginatorPosition="bottom">
	   			<p:ajax event="rowSelect" update="@form:containerGridDisciplias"/>
	   			<p:ajax event="rowUnselect" update="@form:containerGridDisciplias"/>
	   			
	   			<p:column headerText="Código" style="text-align:center" width="40%">
	   				<h:outputText value="#{disc.codigoDisciplina}" />
	   			</p:column>
	   			
	   			<p:column headerText="Nome" style="text-align:center" width="60%">
	   				<h:outputText value="#{disc.nome}" />
	   			</p:column>
	   		</p:dataTable>
	   </p:panel>
	<p:commandButton id="btnSelecionar" value="Selecionar" actionListener="#{pesquisarDisciplinaView.concluir()}"/>	
	</ui:define>
    
</ui:composition>