<ui:composition template="/WEB-INF/template.xhtml" 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    
    <ui:define name="conteudo">
		<h:panelGrid style="margin: 0 auto;">
			   <h:panelGrid columns="4" id="filtrosTurma" cellpadding="5">
			    	<p:outputLabel value="Código da Turma:"/>
			    	<p:inputText value="#{pesquisarTurmaView.codTurma}"/>
			    	
			    	<p:outputLabel value="Nome da Turma:"/>
			    	<p:inputText value="#{pesquisarTurmaView.nomeTurma}"/>
			    	
			    	<p:outputLabel value="Ano da Turma:" />
			    	<p:selectOneMenu value="#{pesquisarTurmaView.anoTurma}">
			    		<f:selectItem itemLabel="Todas" itemValue="#{-1}"/>
			    		<f:selectItems value="#{pesquisarTurmaView.todosAnosDasTurmas}"/>
			    	</p:selectOneMenu>
			    	
			    	<p:outputLabel value="Curso:" />
			    	<p:selectOneMenu value="#{pesquisarTurmaView.comboCurso}">
			    		<f:selectItem itemLabel="Todos" itemValue=""/>
			    		<f:selectItems value="#{pesquisarTurmaView.cursosComboBox}" var="c" itemLabel="#{c.nome}" itemValue="#{c.codCurso}"/>
			    	</p:selectOneMenu> 	
			   </h:panelGrid>
			   <h:panelGrid style="text-align: center; width:100%;">		
			   		<p:row>
				   		<p:commandButton value="Pesquisar" actionListener="#{pesquisarTurmaView.pesquisar()}" update="containerGridTurmas"/>
				   		<p:commandButton value="Limpar">
				   			<p:ajax resetValues="true" update="filtrosTurma"/>
				   		</p:commandButton>
			   		</p:row>
		   		</h:panelGrid>
		   </h:panelGrid>
	   
	   <p:panel id="containerGridTurmas" style="border:none;overflow-x:auto;">
	   		<p:dataTable value="#{pesquisarTurmaView.turmas}" var="turma" selectionMode="multiple" selection="#{pesquisarTurmaView.turmasSelecionadas}"
	   		rowKey="#{turma.id}" emptyMessage="Nenhuma Turma" rows="10" paginator="true" paginatorPosition="bottom">
	   			<p:ajax event="rowSelect" update="@form:containerGridTurmas"/>
	   			<p:ajax event="rowUnselect" update="@form:containerGridTurmas"/>
	   			
	   			<p:column headerText="Código" style="text-align:center">
	   				<h:outputText value="#{turma.id.codigoTurma}" />
	   			</p:column>
	   			
	   			<p:column headerText="Nome" style="text-align:center">
	   				<h:outputText value="#{turma.nomeTurma}" />
	   			</p:column>
	   			
	   			<p:column headerText="Ano" style="text-align:center">
	   				<h:outputText value="#{turma.id.anoTurma}" />
	   			</p:column>

	   			<p:column headerText="Curso" style="text-align:center">
	   				<h:outputText value="#{turma.codCurso}" />
	   			</p:column>
	   		</p:dataTable>
	   </p:panel>
	<p:commandButton id="btnSelecionar" value="Selecionar" actionListener="#{pesquisarTurmaView.concluir()}"/>	
	</ui:define>
    
</ui:composition>