<ui:composition template="/WEB-INF/template.xhtml" 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    
    <ui:define name="conteudo">
		<h:panelGrid width="100%">
		<h:panelGrid columns="4" id="filtrosPesquisa" style="margin:0 auto;">
	    	<p:outputLabel value="RA do #{pesquisarPessoaView.sujeito()}:" />
	    	<p:inputText value="#{pesquisarPessoaView.raPessoa}"/>
	    	
	    	<p:outputLabel value="Nome do #{pesquisarPessoaView.sujeito()}:" />
	    	<p:inputText value="#{pesquisarPessoaView.nomePessoa}" />
	    	
	   		<p:outputLabel value="Email:" />
	    	<p:inputText value="#{pesquisarPessoaView.emailPessoa}"/>
	   		
	   		<p:outputLabel value="Data Nascimento:" />
	    	<p:calendar value="#{pesquisarPessoaView.dataNascimento}" showOn="button" pattern="dd/MM/yyyy"/>
	    	
	    	<p:outputLabel value="Sexo:" />
	    	<p:selectOneRadio value="#{pesquisarPessoaView.sexoPessoa}">
	    		<f:selectItem itemLabel="Masculino" itemValue="M"/>
	    		<f:selectItem itemLabel="Feminino" itemValue="F"/>
	    	</p:selectOneRadio>
	    	 	
	   </h:panelGrid>
	   
	   <h:panelGrid width="100%" style="text-align: center;">
	   		<p:row>
		   		<p:commandButton value="Pesquisar" actionListener="#{pesquisarPessoaView.pesquisar()}" update="containerGridPessoas"/>
		    	<p:commandButton value="Limpar" actionListener="#{pesquisarPessoaView.limpar()}" update="filtrosPesquisa" immediate="true"/>
	    	</p:row>
	   </h:panelGrid>
	   </h:panelGrid>
	   
	   <p:panel id="containerGridPessoas" style="border:none;overflow-x:auto;">
	   		<p:dataTable value="#{pesquisarPessoaView.pessoas}" var="pessoa" selection="#{pesquisarPessoaView.pessoasSelecionadas}"
		   		rowKey="#{pessoa.RA}" emptyMessage="Nenhum #{pesquisarPessoaView.sujeito()}" rows="5" paginator="true" paginatorPosition="bottom">

	   			<p:column selectionMode="multiple" style="text-align:center; width:15px;"/>
	   			
	   			<p:column headerText="RA do #{pesquisarPessoaView.sujeito()}" style="text-align:center; width:110px;">
	   				<h:outputText value="#{pessoa.RA}" />
	   			</p:column>
	   			
	   			<p:column headerText="Nome do #{pesquisarPessoaView.sujeito()}" style="text-align:center; width:300px; ">
	   				<h:outputText value="#{pessoa.nome}" />
	   			</p:column>
	   			
	   			<p:column headerText="Email" style="text-align:center; width:300px;">
	   				<h:outputText value="#{pessoa.email}" />
	   			</p:column>

	   			<p:column headerText="Data Nascimento" style="text-align:center;width:150px;">
	   				<h:outputText value="#{pessoa.dataNasc}" />
	   			</p:column>
	   			
	   			<p:column headerText="Sexo" style="text-align:center;width:50px;">
	   				<h:outputText value="#{pessoa.sexo == 'M' ? 'Masc.' : 'Fem.'}" />
	   			</p:column>
		   		
		   	</p:dataTable>
	   </p:panel>
	<p:commandButton id="btnSelecionar" value="Selecionar" actionListener="#{pesquisarPessoaView.concluir()}"/>	
	</ui:define>
    
</ui:composition>