<ui:composition template="/WEB-INF/template.xhtml" 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    
    <ui:define name="conteudo">
		<h:panelGrid style="margin: 0 auto;">
			   <h:panelGrid columns="4" id="filtros" cellspacing="5">
			    	<p:outputLabel value="Nome do Curso:" for="inptNomeCurso"/>
			    	<p:inputText id="inptNomeCurso" value="#{pesquisarCursoView.nomeCurso}"/>
			    	
			    	<p:outputLabel value="Código do Curso:"/>
			    	<p:inputText id="inptCodigoCurso" value="#{pesquisarCursoView.codCurso}"/>
			   		
			   </h:panelGrid>
			   <h:panelGrid style="text-align: center; width:100%;">		
			   		<p:row>
				   		<p:commandButton value="Pesquisar" actionListener="#{pesquisarCursoView.pesquisar()}" update="containerGridCursos"/>
				   		<p:commandButton value="Limpar">
				   			<p:ajax resetValues="true" update="filtros"/>
				   		</p:commandButton>
			   		</p:row>
		   		</h:panelGrid>
		   </h:panelGrid>
	   
	   <p:panel id="containerGridCursos" style="border:none;overflow-x:auto;">
	   		<p:dataTable value="#{pesquisarCursoView.cursos}" var="curso" selectionMode="multiple" selection="#{pesquisarCursoView.cursosSelecionados}"
	   		rowKey="#{curso.codCurso}" emptyMessage="Nenhum Curso" rows="10" paginator="true" paginatorPosition="bottom">
	   			<p:ajax event="rowSelect" update="@form:containerGridCursos"/>
	   			<p:ajax event="rowUnselect" update="@form:containerGridCursos"/>
	   			
	   			<p:column headerText="Código" style="text-align:center" width="40%">
	   				<h:outputText value="#{curso.codCurso}" />
	   			</p:column>
	   			
	   			<p:column headerText="Nome" style="text-align:center" width="60%">
	   				<h:outputText value="#{curso.nome}" />
	   			</p:column>
	   		</p:dataTable>
	   </p:panel>
	<p:commandButton id="btnSelecionar" value="Selecionar" actionListener="#{pesquisarCursoView.concluir()}"/>	
	</ui:define>
    
</ui:composition>